<div class="container">

    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        {{userForm.value| json}}
        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="userModel.name" name="name" #name="ngModel">
            <small [hidden]="name.valid || name.pristine">
                Name is required
            </small>
        </div>
        <!-- <label>Name :</label>
            <input type="text" name="txtName" #name #name="ngModel" class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="userModel.name" required>
           <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small> -->
        <!-- </div> -->

        <div class="form-group">
            <label for="name">Email :</label>
            <input type="email" class="form-control" id="email" required [(ngModel)]="userModel.email" name="email" #email="ngModel">
            <small [hidden]="email.valid || email.pristine">
                email is required and must have @ .
            </small>
        </div>


        <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="userModel.password" name="password" #password="ngModel">
            <small [hidden]="password.valid || password.pristine">
                Password is required
            </small>
        </div>

        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>

            <button type="submit" class="btn btn-success">Submit</button>

        </div>
        <!-- ... all of the form ... -->

    </form>

</div>