<div class="container">

    <form action="/action_page.php">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter confirm password" name="pwd">
        </div>
        <div>
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleted acount</option>
                <option *ngFyor="let acount of acounts">
                  {{acount}}
                </option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>