<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mylab</title>
</head>

<body>
    <app-header></app-header>
    <app-prouducts (childEvent)="massge=$event"></app-prouducts>
    {{massge}}
    <app-empdetlise></app-empdetlise>
    <!-- <button (click)="renderValue()">clivc</button> -->
    <!-- <button (click)="renderValue()">jhnlkn</button> -->
    <app-footer></app-footer>
</body>

</html>